# Dependencies
node_modules/
.next/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# Environments
.env.printer
.env.local
.env
env/
ENV/

# JSON keys
gcloudauth.json
cors.js

# Personal testing
test0.js
